.footer {
  margin-top: 1px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  border-top: solid 1px rgba(112, 112, 112, 0.2);
  padding: 20px 50px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left,
.footer-links,
.footer-right {
  max-width: 30%;
}

.footer-left h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.footer-left p {
  font-size: 14px;
  color: #555;
}

.footer-links h4,
.footer-right h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons a {
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
  color: #333;
}

.social-icons a:hover {
  color: crimson;
}

/* ============ Responsive Media Query ============ */

@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
  }

  .footer-left,
  .footer-links,
  .footer-right {
    max-width: 100%;
  }

  .footer-links ul {
    padding-left: 0;
  }

  .social-icons a {
    margin-right: 15px;
  }
}

@media (max-width: 320px)  {
  .footer {
    padding: 10px;
  }

  .footer-left h3 {
    font-size: 18px;
  }

  .footer-left p,
  .footer-links a,
  .footer-right p {
    font-size: 12px;
  }

  .footer-links h4,
  .footer-right h4 {
    font-size: 14px;
  }

  .social-icons a {
    font-size: 16px;
  }
}
